<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.t_wms.mapper.customerCrmMapper">

<!--    客户id 客户名称 负责人名称 成交订单数 成交总额 欠款 回访次数 近30天回访次数-->
<!--    <select id="getCustomerCrmList" resultType="customer">-->
<!--        select coustomer.id,customer.name,customer.companyName,staff.name from coustomer,-->
<!--    </select>-->
</mapper>