<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t_wms.mapper.innMapper">
    <select id="getInnList" resultType="inn">
        select inn.id,orderId,product.name as productName,supplier.name as supplierName,productNum,createdDate,lastModifyDate,inn.info
        from inn,product,supplier
        where orderId like "%"#{key}"%" and product.Id = inn.productId and inn.supplierId=supplier.id
        order by inn.id limit #{start},#{num}
    </select>
    <select id="getInnNum" resultType="int">
        select count(id) from inn where orderId like "%"#{key}"%"
    </select>

    <select id="getInnById" resultType="inn">
        select inn.id,orderId,product.id as productId,supplier.id as supplierId,product.name as productName,supplier.name as productName,productNum,createdDate,lastModifyDate,inn.info
        from inn,product,supplier
        where product.Id = inn.productId and inn.supplierId=supplier.id and inn.id=#{id}
    </select>
    <insert id="addInn" parameterType="inn">
        insert into Inn(orderId,productId,supplierId,productNum,createdDate,lastModifyDate,info)
         values(#{orderId},#{productId},#{supplierId},#{productNum},#{createdDate},#{lastModifyDate},#{info})
    </insert>
    <update id="updateInnById" parameterType="inn">
        update Inn set orderId=#{orderId},productId=#{productId},supplierId=#{supplierId},
                       productNum=#{productNum},
                       lastModifyDate=#{lastModifyDate},info=#{info}
                       where id=#{id}
    </update>
    <delete id="deleteInnById" parameterType="int">
        delete from Inn where id=#{id}
    </delete>
</mapper>
