<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t_wms.mapper.outtMapper">
    <select id="getOuttList" resultType="outt">
        select outt.id,orderId,staff.name as staffName,product.name as productName,customer.name as customerName,productNum,createdDate,lastModifyDate,outt.info,price,pay
        from outt,product,customer,staff
        where orderId like "%"#{key}"%" and product.Id = outt.productId and outt.customerId=customer.id and staff.id=outt.staffId
        order by outt.id desc limit #{start},#{num}
    </select>
    <select id="getOuttNum" resultType="int">
        select count(id) from outt where orderId like "%"#{key}"%"
    </select>
    <select id="getOuttById" resultType="outt">
        select outt.id,orderId,staff.name as staffName,product.id as productId,customer.id as customerId,product.name as productName,customer.name as productName,productNum,createdDate,lastModifyDate,outt.info,price,pay
        from outt,product,customer,staff
        where product.Id = outt.productId and outt.customerId=customer.id and outt.id=#{id} and staff.id=outt.staffId
    </select>
    <insert id="addOutt" parameterType="outt">
        insert into outt(orderId,productId,customerId,productNum,createdDate,lastModifyDate,info,pay,staffId)
        values(#{orderId},#{productId},#{customerId},#{productNum},#{createdDate},#{lastModifyDate},#{info},#{pay},#{staffId})
    </insert>
    <update id="updateOuttById" parameterType="outt">
        update outt set lastModifyDate=#{lastModifyDate},info=#{info} where id=#{id}
    </update>
    <delete id="deleteOuttById" parameterType="int">
        delete from outt where id=#{id}
    </delete>

    <select id="getOuttNumByCustomerId" resultType="int">
        select count(id) from outt where customerId=#{customerId}
    </select>
</mapper>
