<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t_wms.mapper.productMapper">
    <select id="getProductList" resultType="product">
        select product.id,product.name,type.name as typeName,unit,product.info,price
            from product,type where type.id = product.typeId
            and product.name like "%"#{key}"%" order by id limit #{start},#{num}
    </select>

    <select id="getProductNum" resultType="int">
        select count(id) from product where name like "%"#{key}"%"
    </select>

    <select id="getProductById" resultType="product">
        select product.id,product.name,typeId,unit,product.info,price
        from product,type where type.id = product.typeId
                                     and product.id=#{id}
    </select>
    <insert id="addProduct" parameterType="product">
        insert into product(name,typeId,unit,price,info,alertNum) values(#{name},#{typeId},#{unit},#{price},#{info},'-1')
    </insert>
    <update id="updateProductById" parameterType="product">
        update product set name=#{name},typeId=#{typeId},unit=#{unit},price=#{price},info=#{info} where id=#{id}
    </update>
    <delete id="deleteProductById" parameterType="int">
        delete from product where id=#{id}
    </delete>
    
    <select id="getIdAndName" resultType="product">
        select id,name from product
    </select>

    <select id="getMaxId" resultType="int">
        select max(id) from product
    </select>


</mapper>
