<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t_wms.mapper.staffMapper">
    <select id="getStaffList" resultType="staff">
        select id,username,name,sex,age,type from staff
            where username like "%"#{key}"%" or name like "%"#{key}"%"
            order by id limit #{start},#{num};
   </select>
    <select id="getStaffNum" resultType="int">
        select count(id) from staff;
   </select>
<!--    String name,String sex,int age,String type,String phone,String email,String username,String password-->
    <insert id="addStaff" parameterType="staff">
        insert into staff (name,sex,age,type,phone,email,username,password)
            values (#{name},#{sex},#{age},#{type},#{phone},#{email},#{username},#{password})
    </insert>
</mapper>