<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t_wms.mapper.staffMapper">

    <!--    login-->
    <select id="loginCheck" resultType="int">
        select count(id) from staff where username=#{username} and password=#{password} and type=#{type}
    </select>
    <update id="createTokenByUsername" parameterType="staff">
        update staff
        set token=#{token} where username=#{username}
    </update>
    <!--    ver-->
    <select id="getStaffByToken" resultType="staff">
        select * from staff where token=#{token}
    </select>
    <!--    admin -->
    <select id="getStaffList" resultType="staff">
        select id,username,name,sex,age,type from staff
            where username like "%"#{key}"%" or name like "%"#{key}"%"
            order by id limit #{start},#{num};
   </select>
    <select id="getStaffNum" resultType="int">
        select count(id) from staff where username like "%"#{key}"%" or name like "%"#{key}"%";
   </select>
    <insert id="addStaff" parameterType="staff">
        insert into staff (name,sex,age,type,phone,email,username,password)
            values (#{name},#{sex},#{age},#{type},#{phone},#{email},#{username},#{password})
    </insert>
    <select id="getStaffInfoById" resultType="staff">
        select name,sex,age,type,phone,email,username from staff where id=#{id}
    </select>
    <update id="updateStaffById" parameterType="staff">
        update staff set name=#{name},sex=#{sex},age=#{age},type=#{type},phone=#{phone},
                            email=#{email},username=#{username} where id=#{id}
    </update>
    <delete id="deleteStaffById" parameterType="int">
        delete from staff where id=#{id}
    </delete>
    <update id="updatePasswordById" parameterType="staff">
        update staff set password=#{password} where id=#{id}
    </update>

    <select id="getIdAndNameList" resultType="type">
        select id,name from staff where type='superAdmin' or type='admin' or type='crmAdmin'
    </select>

    <select id="getNumByUsername" resultType="int">
        select count(*) from staff where username=#{username}
    </select>

</mapper>