<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t_wms.mapper.typeMapper">
    <select id="getTypeList" resultType="type">
        select * from type
        where name like "%"#{key}"%"
        order by id limit #{start},#{num}
    </select>
    <select id="getTypeNum" resultType="int">
        select count(*) from type where name like "%"#{key}"%"
    </select>

    <select id="getTypeById" resultType="type">
        select * from type
        where id=#{id}
    </select>
    <insert id="addType" parameterType="type">
        insert into type(name,info) values(#{name},#{info})
    </insert>
    <update id="updateTypeById" parameterType="type">
        update type set name=#{name},info=#{info} where id=#{id}
    </update>
    <delete id="deleteTypeById" parameterType="int">
        delete from type where id=#{id}
    </delete>

    <select id="getIdAndNameList" resultType="type">
        select id,name from type
    </select>

</mapper>