<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t_wms.mapper.warehouseMapper">
    <select id="getWarehouseList" resultType="warehouse">
        select * from warehouse
        where name like "%"#{key}"%"
        order by id limit #{start},#{num};
    </select>
    <select id="getWarehouseNum" resultType="int">
        select count(id) from warehouse
        where name like "%"#{key}"%"
    </select>
    <select id="getWarehouseById" resultType="warehouse">
        select * from warehouse
        where id=#{id}
    </select>
    <insert id="addWarehouse" parameterType="warehouse">
        insert into warehouse(name,position,info) values(#{name},#{position},#{info})
    </insert>
    <update id="updateWarehouseById" parameterType="warehouse">
        update warehouse set name=#{name},position=#{position},info=#{info} where id=#{id}
    </update>
    <delete id="deleteWarehouseById" parameterType="int">
        delete from warehouse where id=#{id}
    </delete>
</mapper>